.formacion-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.formacion-column {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  margin: 0 1.5rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* width: 30%; */
}

.formacion-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #65019ff4; /* Borde morado */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0.7;
}

.formacion-image:hover {
  opacity: 1;
  transform: translateY(-10px);
  cursor: pointer;
}

.formacion-column h3 {
  color: #65019ff4; /* Título morado */
  margin-bottom: 10px;
}

.formacion-column p {
  font-size: 1.1rem;
  color: #333;
}

/*media para menos de 700px una columna*/
@media (max-width: 700px) {
  .formacion-container {
    flex-direction: column;
    margin-left: -20px;
  }

  .formacion-column {
    margin: 1rem;
  }
}
